<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lowcode.workflow.web.node.type.mapper.NodeTypeMapper">

    <select id="findNodeTypes" resultType="com.lowcode.workflow.web.node.entity.NodeType">

        select * from eda_flow_node_type
        <where>
            <if test="name != null">
                name like concat('%', #{name}, '%')
            </if>
        </where>

    </select>
    <select id="findByIds" resultType="com.lowcode.workflow.web.node.entity.NodeType">
        select * from eda_flow_node_type where id in
        <foreach collection="ids" separator="," open="(" close=")" item="id">#{id}</foreach>
    </select>
</mapper>